*.swp
*.pyc
*.h5
# numpy arrays
*.npy

# matlab data files
*.mat

# modules
__pycache__
__init__.py

# examples images
*.png

# SVM logs
logs/

# specific training activation examples
!mit67_smooth_train_activations/*.png
